node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite


package-lock.json
yarn.lock
.env
.env.order-limit-prod
.env.order-limit-2
.env.order-limit-3
.env.order-limit