#underLine:hover {
    text-decoration: underline;
}

.mL {
    margin-left: 2.5rem;
}

.red {
    color: red;
}

.pL-1 {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.responsive-image {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.text-with-icon {
    display: inline-flex;
    align-items: center;
}
  
.text-with-icon .icon {
    margin-left: 6px; /* Adjust space between text and icon */
    vertical-align: middle;
}

.small-icon {
    width: 16px; /* Adjust the size */
    height: 16px;
}