
#underLine:hover {
    text-decoration: underline;
}

.mL {
    margin-left: 2.5rem;
}

.red {
    color: red;
}

.pL-1 {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.responsive-image {
    width: 100%;
    height: auto;
    margin: 10px 0;
}